<div class="span12">
	<div class="widget">
		<div class="widget-header">
			<i class="icon-question-sign"></i>
			<h3><liquidtpl:formTitle/></h3>
		</div> <!-- /widget-header -->
		<div class="widget-content">
			<form action="/user/inquiry" id="inquiryForm" class="form-horizontal">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="password">お問い合わせ</label>
						<div class="controls">
							<textarea class="input-xlarge" name="inquiry" id="inquiry" placeholder="お問い合せ内容"></textarea>
							<div id="inquiryError" class="alert alert-danger" style="display:none; margin-top: 5px;"></div>
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary btn-large">送信</button>
					</div>
				</fieldset>						
			</form>
		</div>
	</div>
	<!-- /widget-content -->
</div>
<!-- /widget -->
<script type="text/javascript">
        //<![CDATA[

        $(function(){
        	 $.setFormValues( "inquiryForm", "" );

        });
        //]]>
</script>
