<div class="span9">
	<h1 class="page-title">
		<i class="icon-th-large"></i>パスワード変更
	</h1>
	<div class="row">
		<div class="span9">
			<div class="widget">
				<!-- /widget-header -->
				<div class="widget-content">
					<form action="/user/password" id="passwordForm" class="form-horizontal">
						<fieldset>
						<div class="control-group">
						<label class="control-label" for="password">現在のパスワード</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="password" id="password" placeholder="現在のパスワード"/>
						</div>
						<div id="passwordError" class="alert alert-danger" style="display:none; margin:0 0 10px 0">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="newpassword">新しいパスワード</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="newpassword" id="newpassword" placeholder="新しいパスワード"/>
						</div>
						<div id="newpasswordError" class="alert alert-danger" style="display:none; margin:0 0 10px 0">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="confirmpassword">新しいパスワード(確認)</label>
						<div class="controls">
							<input type="password" class="input-xlarge" name="confirmpassword" id="confirmpassword" placeholder="新しいパスワード(確認)"/>
						</div>
						<div id="confirmpasswordError" class="alert alert-danger" style="display:none; margin:0 0 10px 0">
						</div>
					</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-warning btn-large">パスワード変更</button>
							</div>
						</fieldset>						
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /widget-content -->
</div>
<!-- /widget -->
<script type="text/javascript">
        //<![CDATA[

        $(function(){
        	 $.setFormValues( "passwordForm", "" );

        });
        //]]>
</script>
