<script type="text/javascript">
	//<![CDATA[
	$(function(){
        $.setFormValues( "registerForm", "" );
	});
	//]]>
</script>
<div class="account-container register stacked">
	<div class="content clearfix">

		<h1>新規登録</h1>

		<form id="registerForm" action="/user/register">
			<div class="login-fields">
				<div class="field">
					<label for="email">メールアドレス</label> <input type="email"
						class="login" name="email" id="email" placeholder="メールアドレス" />
					<div id="emailError" class="alert alert-danger"
						style="display: none; margin: 5px 0 10px 0"></div>
				</div>
			</div>

			<div class="login-actions" style="margin-bottom: 0">
				<button type="submit" class="button btn btn-warning btn-large">
					登録
				</button>
			</div>
		</form>

	</div>
	<!-- /login-content -->

</div>
<!-- /login-wrapper -->
<div class="login-extra">
<p><a href="/login/">アカウントを既にお持ちの場合はこちら</a></p>
</div>
<!-- /login-extra -->
