<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>サーバー監視ツール「CloudDoctor」</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
	rel="stylesheet" />
<link href="/css/font-awesome.min.css" rel="stylesheet" />
<link href="/css/base-admin-2.css" rel="stylesheet" />
<link href="/css/base-admin-2-responsive.css" rel="stylesheet" />
<link href="/css/pages/signin.css" rel="stylesheet" />
<link rel="stylesheet" href="http://aws.clouddoctor.jp/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="http://aws.clouddoctor.jp/css/panel.css" type="text/css" media="screen" />
<script src="/js/jquery-1.7.2.min.js"></script>
<script src="/js/common/jquery.tmpl.min.js" type="text/javascript"></script>
<script src="/js/common/jquery.tmplPlus.min.js" type="text/javascript"></script>
<script src="/js/common/jquery.datalink.js" type="text/javascript"></script>
<script src="/js/common/jquery.json-2.2.min.js" type="text/javascript"></script>
<script src="/js/common/liquidtpl.js"></script>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40934440-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
<div class="bg-content">
<div class="container">
<!--============================== content =================================-->
<liquidtpl:content />
<!-- contents END  ================================================== -->
</div>
<!-- /container -->
<!--============================== footer =================================-->
<footer>
<div class="container clearfix">
<p class="privacy"><a href="http://www.aimluck.com/" target="_blank">&copy; 2013 Aimluck, Inc.</a></p>
</div>
</footer>
</div>

	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/Application.js"></script>
</body>
</html>
