<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>CloudDoctor - 無料サーバ監視ツール</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>    
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet"/>
    <link href="/css/font-awesome.css" rel="stylesheet"/>
    <link href="/css/adminia.css" rel="stylesheet"/> 
    <link href="/css/adminia-responsive.css" rel="stylesheet"/> 
    <link href="/css/pages/dashboard.css" rel="stylesheet"/> 
    <script src="/js/jquery-1.7.2.min.js"></script>
	<script src="/js/excanvas.min.js"></script>
	<script src="/js/jquery.flot.js"></script>
	<script src="/js/jquery.flot.pie.js"></script>
	<script src="/js/jquery.flot.orderBars.js"></script>
	<script src="/js/jquery.flot.resize.js"></script>
	<script src="/js/bootstrap.js"></script>
    <script src="/js/common/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="/js/common/jquery.tmplPlus.min.js" type="text/javascript"></script>
    <script src="/js/common/jquery.datalink.js" type="text/javascript"></script>
    <script src="/js/common/jquery.json-2.2.min.js" type="text/javascript"></script>
    <script src="/js/common/liquidtpl.js" type="text/javascript"></script>
    <script src="/js/scripts.js?app=mailcloud?date=20130204" type="text/javascript"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 				
			</a>
			<a class="brand" href="./">CloudDoctor</a>
			<div class="nav-collapse">
				<ul class="nav pull-right">
					<li class="divider-vertical">
					</li>
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle " href="#">
							<liquidtpl:userEmail/><b class="caret"></b>							
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/user/password"><i class="icon-lock"></i> パスワード変更</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="/logout"><i class="icon-off"></i> ログアウト</a>
							</li>
						</ul>
					</li>
				</ul>
			</div> <!-- /nav-collapse -->
		</div> <!-- /container -->
	</div> <!-- /navbar-inner -->
</div> <!-- /navbar -->
<div id="content">
	<div class="container">
		<div class="row">
			<div class="span3">
				<ul id="main-nav" class="nav nav-tabs nav-stacked">
					<li>
						<a href="/dashboard">
							<i class="icon-home"></i>
							ダッシュボード		
						</a>
					</li>
					<li>
						<a href="/check/">
							<i class="icon-th-list"></i>
							Web監視一覧	
							<liquidtpl:errorCount/>
						</a>
					</li>
					<li>
						<a href="/log/">
							<i class="icon-th-list"></i>
							ログ		
						</a>
					</li>
				</ul>	
				<hr />
				<div class="sidebar-extra">
				</div> <!-- .sidebar-extra -->
				<br />
			</div> <!-- /span3 -->							
						 <liquidtpl:content/>					
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /content -->
<div id="footer">
	<div class="container">				
		<hr>
		<p>&copy; 2013 Aimluck, Inc.</p>
		</hr>
	</div> <!-- /container -->
</div> <!-- /footer -->
<script type="text/javascript">
    //<![CDATA[
    $(function(){
        $('#main-nav li').each(function(){
        	var menuLink = $(this).find('a').attr('href');
        	$(this).removeClass('active');
        	if(menuLink){
        		if(menuLink == location.pathname) {
        			$(this).addClass('active');
        		}
        	}
        });
    });
    //]]>
</script>
  </body>
</html>
   
