<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
<link href="/css/pages/reports.css" rel="stylesheet" />
<script type="text/javascript">
//<![CDATA[
	$(function() {
		$.initList("pageCheckList", "checkItem", true, "/check/json", {
			"pageType" : "page",
			"limit" : "5"
		}, function(jsonData) {
			var values = jsonData.values;
			var size = values.length;
			for ( var i = 0; i < size; i++) {
				var text = values[i].errorMessage;
				text = text.replace(/\r\n/g, "<br />");
				text = text.replace(/(\n|\r)/g, "<br />");
				values[i].errorMessageWrap = text;
			}
			$.setListValues("pageCheckList", "checkItem", true, jsonData);

			$("#error-message").click(function(e) {
				var $this = $(this);
				var checkId = $this.data("checkId");
				var $tr = $("#checkItem-error-message-tr-" + checkId);
				$tr.toggle();
			});
			if (size > 0) {
				$('#checkListContainer').show();
			}
		});

		$.initList("loginCheckList", "checkItem", true, "/check/json", {
			"pageType" : "login",
			"limit" : "5"
		}, function(jsonData) {
			var values = jsonData.values;
			var size = values.length;
			for ( var i = 0; i < size; i++) {
				var text = values[i].errorMessage;
				text = text.replace(/\r\n/g, "<br />");
				text = text.replace(/(\n|\r)/g, "<br />");
				values[i].errorMessageWrap = text;
			}
			$.setListValues("loginCheckList", "checkItem", true, jsonData);

			$("#error-message").click(function(e) {
				var $this = $(this);
				var checkId = $this.data("checkId");
				var $tr = $("#checkItem-error-message-tr-" + checkId);
				$tr.toggle();
			});

			if (size > 0) {
				$('#loginListContainer').show();
			}
		});

		$.initList("domLimitCheckList", "domLimitItem", true, "/domain/json", {
			"limit" : "10"
		}, function(jsonData) {
			var values = jsonData.values;
			var size = values.length;
			for ( var i = 0; i < size; i++) {
				var text = values[i].errorMessage;
				text = text.replace(/\r\n/g, "<br />");
				text = text.replace(/(\n|\r)/g, "<br />");
				values[i].errorMessageWrap = text;
			}
			$.setListValues("domLimitList", "domLimitItem", true, jsonData);

			$("#error-message").click(function(e) {
				var $this = $(this);
				var checkId = $this.data("checkId");
				var $tr = $("#checkItem-error-message-tr-" + checkId);
				$tr.toggle();
			});

			if (size > 0) {
				$('#domLimitListContainer').show();
			}
		});


		$.initList("checkLogList", "checkLogItem", false, "/log/json", {
			"limit" : "5"
		}, null, null, null, function() {
			$('#checkLogListContainer').show();
		});

		$.initList("SSLCheckList", "SSLCheckItem", true, "/cert/json", {
			"limit" : "10"
		}, function(jsonData) {
			var values = jsonData.values;
			var size = values.length;

            $.setListValues("SSLCheckList", "SSLCheckItem", true, jsonData);

            if (size > 0) {
            	$('#SSLListContainer').show();
            }
        });

	});

	$.formLink = function(_this) {
		switch (_this.id) {
			case "applyPlan":
				location.href = "/plan"
				break
			case "registerPageCheck":
				location.href = "/check/form"
				break
			case "registerLoginCheck":
				location.href = "/check/loginForm"
		}
	}
	//]]>
</script>
<div class="span12">
	<liquidtpl:unusedMessage />
	<div class="widget big-stats-container stacked">
		<div class="widget-content">
			<div id="big_stats" class="cf" >
				<div class="stat">
					<h4>今日のページエラー数</h4>
					<span class="value"><liquidtpl:errorCount /></span>
				</div>
				<!-- .stat -->

				<div class="stat">
					<h4>ページ監視数</h4>
					<span class="value"><liquidtpl:checkCount /></span>
				</div>
				<!-- .stat -->

				<div class="stat">
					<h4>今日のログインエラー数</h4>
					<span class="value"><liquidtpl:errorLoginCount /></span>
				</div>
				<!-- .stat -->

				<div class="stat">
					<h4>ログイン監視数</h4>
					<span class="value"><liquidtpl:checkLoginCount /></span>
				</div>
				<!-- .stat -->

				<div class="stat">
					<h4>SSL期限監視数</h4>
					<span class="value"><liquidtpl:sslCount /></span>
				</div>
				<!-- .stat -->

				<div class="stat">
					<h4>ドメイン監視数</h4>
					<span class="value"><liquidtpl:domLimitCount /></span>
				</div>
				<!-- .stat -->
			</div>
		</div>
		<!-- /widget-content -->
	</div>
	<!-- ページ監視リスト -->
	<div id="checkListContainer" class="widget widget-table hide">
		<div class="widget-header">
			<i class="icon-file"></i>
			<h3>ページ監視</h3>
		</div>
		<!-- /widget-header -->
		<div class="widget-content">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>タイトル</th>
						<th class="w30">URL</th>
						<th>有効・無効</th>
						<th>ステータス</th>
						<th>編集</th>
					</tr>
				</thead>
				<tbody id="pageCheckList">
				</tbody>

			</table>
		</div>
		<!-- /widget-content -->
	</div>
	<!-- /widget -->
	<!-- /ページ監視リスト -->
	<!-- ログイン監視リスト -->
	<div id="loginListContainer" class="widget widget-table hide">
		<div class="widget-header">
			<i class="icon-file-alt"></i>
			<h3>ログイン監視</h3>
		</div>
		<!-- /widget-header -->
		<div class="widget-content">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>タイトル</th>
						<th class="w30">URL</th>
						<th>有効・無効</th>
						<th>ステータス</th>
						<th>編集</th>
					</tr>
				</thead>
				<tbody id="loginCheckList">
				</tbody>

			</table>
		</div>
		<!-- /widget-content -->
	</div>
	<!-- /widget -->
	<!-- /ログイン監視リスト -->

	<!-- SSL期限監視リスト -->
	<div id="SSLListContainer" class="widget widget-table hide">
		<div class="widget-header">
			<i class="icon-file-alt"></i>
			<h3>SSL期限監視</h3>
		</div>
		<!-- /widget-header -->
		<div class="widget-content">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th class="w30">ドメイン名</th>
						<th>有効・無効</th>
						<th>残り日数</th>
						<th>有効期限</th>
						<th>編集</th>
					</tr>
				</thead>
				<tbody id="SSLCheckList">
				</tbody>

			</table>
		</div>
		<!-- /widget-content -->
	</div>
	<!-- /widget -->
	<!-- /SSL期限監視リスト -->

	<!-- ドメイン監視リスト -->
	<div id="domLimitListContainer" class="widget widget-table hide">
		<div class="widget-header">
			<i class="icon-file-alt"></i>
			<h3>ドメイン監視</h3>
		</div>
		<!-- /widget-header -->
		<div class="widget-content">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>ドメイン名</th>
						<th>残り日数</th>
						<th>有効期限</th>
						<th>編集</th>
					</tr>
				</thead>
				<tbody id="domLimitList">
				</tbody>

			</table>
		</div>
		<!-- /widget-content -->
	</div>
	<!-- /widget -->
	<!-- /ドメイン監視リスト -->

	<!-- ログリスト -->
	<div id="checkLogListContainer" class="widget widget-table hide">
		<div class="widget-header">
			<i class="icon-th-list"></i>
			<h3>ログ</h3>
		</div>
		<!-- /widget-header -->
		<div class="widget-content">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th><liquidtpl:text key="checkLog.name" /></th>
						<th class="w30">監視ページのURL</th>
						<th class='thin'><liquidtpl:text key="checkLog.status" /></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="checkLogList">
				</tbody>
			</table>
		</div>
	</div>
	<!-- /ログリスト -->
</div>
<!-- /row -->
<script id="checkItem" type="text/x-jquery-tmpl">
    <tr>
        <td ><a href="javascript:void(0)" onclick="$('#checkItem-error-message-tr-${id}').toggle();" id="error-message">${name}</a></td>
        <td><a href="${url}" target="_blank">${url}</a></td>
        <td>{{if active=='true'}}<span class="label label-success"><liquidtpl:text key="check.isActive"/></span>{{else}}<span class="label"><liquidtpl:text key="check.isInactive"/></span>{{/if}}</td>
        <td>{{html statusHtml}}</td>
        <td class="action-td"><a href="/check/form?id=${id}" class="btn btn-small btn-warning"><i class="icon-pencil" title="Edit"></i></a>
        <a href="/check/delete?id=${id}" onclick="return confirm('${deleteConfirm}');" class="btn btn-small"><i class="icon-remove" title="Remove"></i></a></td>
    </tr>
    <tr id="checkItem-error-message-tr-${id}" class="selectable error-message-tr" style="display:none;">
        <td colspan="5">
            <textarea id='checkItem-error-message-${id}' class="span8" rows="10" readonly="readonly">{{html errorMessage}}</textarea>
            {{if checkedAt}}<div><liquidtpl:text key="check.LastCheckedAt"/>: ${checkedAt}</div>{{/if}}
        </td>
    </tr>
</script>

<script id="domLimitItem" type="text/x-jquery-tmpl">
    <tr>
        <td>${domainName}</td>
        <td>${period}日</td>
        <td>${limitDate}</td>
        <td class="action-td"><a href="/domain/form?id=${id}" class="btn btn-small btn-warning"><i class="icon-pencil" title="Edit"></i></a>
        <a href="/domain/delete?id=${id}" onclick="return confirm('${domainName}の監視を削除してもよろしいですか?');" class="btn btn-small"><i class="icon-remove" title="Remove"></i></a></td>
    </tr>
    <tr id="checkItem-error-message-tr-${id}" class="selectable error-message-tr" style="display:none;">
        <td colspan="5">
            <textarea id='checkItem-error-message-${id}' class="span8" rows="10" readonly="readonly">{{html errorMessage}}</textarea>
        </td>
    </tr>
</script>

<script id="SSLCheckItem" type="text/x-jquery-tmpl">
	<tr>
        <td>${domainName}</td>
		<td>{{if active=='true'}}<span class="label label-success"><liquidtpl:text key="check.isActive"/></span>{{else}}<span class="label"><liquidtpl:text key="check.isInactive"/></span>{{/if}}</td>
        <td>${period}日</td>
        <td>${limitDate}</td>
		<td class="action-td">
			<a class="btn btn-small btn-warning" href="/cert/form?id=${id}"><i title="Edit" class="icon-pencil"></i></a>
			<a class="btn btn-small" onclick="return confirm('${domainName}の監視を削除してもよろしいですか?');" href="/cert/delete?id=${id}">
				<i title="Remove" class="icon-remove"></i>
			</a>
		</td>
    </tr>
</script>

<script id="checkLogItem" type="text/x-jquery-tmpl">
  <tr class="selectable">
    <td>${name}</td>
    <td class='thin'><a href="${url}" target="_blank">${url}</a></td>
    <td class="thin{{if status=='D'}} noticeMessage{{else status=='R'}} confirmMessage{{/if}}">{{html statusHtml}}</td>
    <td class="thin">${createdAt}</td>
  </tr>
</script>
