<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
<link href="/css/pages/plans.css" rel="stylesheet"/> 
<link href="/css/pages/pricing.css" rel="stylesheet"/> 
<div class="span12">
      		
      		<div class="widget stacked">
					
				<div class="widget-header">
					<i class="icon-th-large"></i>
					<h3>Choose Your Plan</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					
					<div class="pricing-plans plans-3">
						
			
				    
				    <div class="plan-container">
				        <div class="plan stacked">
					        <div class="plan-header">
				                
					        	<div class="plan-title">
					        		<liquidtpl:plan2_name/>	 
				        		</div> <!-- /plan-title -->
				                
					            <div class="plan-price">
				                	<span class="note">￥</span><liquidtpl:plan2_price/><span class="term">月額</span>
								</div> <!-- /plan-price -->
								
					        </div> <!-- /plan-header -->       
					        
					        <div class="plan-features">
								<ul>
									<li><strong><liquidtpl:plan2_maxCheck/></strong> ページ監視</li>
									<li><strong><liquidtpl:plan2_maxCheckLogin/></strong> ログイン監視</li>
								</ul>
							</div> <!-- /plan-features -->
							
							<div class="plan-actions">				
								<a href="/user/inquiry" class="btn">お申し込み</a>						
							</div> <!-- /plan-actions -->
				
						</div> <!-- /plan -->
				    </div> <!-- /plan-container -->
				    
				    <div class="plan-container">
				        <div class="plan stacked">
					        <div class="plan-header">
				                
					        	<div class="plan-title">
					        		<liquidtpl:plan3_name/>	 
				        		</div> <!-- /plan-title -->
				                
					            <div class="plan-price">
				                	<span class="note">￥</span><liquidtpl:plan3_price/><span class="term">月額</span>
								</div> <!-- /plan-price -->
								
					        </div> <!-- /plan-header -->	          
					        
					        <div class="plan-features">
								<ul>					
									<li><strong><liquidtpl:plan3_maxCheck/></strong> ページ監視</li>
									<li><strong><liquidtpl:plan3_maxCheckLogin/></strong> ログイン監視</li>
								</ul>
							</div> <!-- /plan-features -->
							
							<div class="plan-actions">				
								<a href="/user/inquiry" class="btn">お申し込み</a>						
							</div> <!-- /plan-actions -->
				
						</div> <!-- /plan -->
				    </div> <!-- /plan-container -->
				    
				    <div class="plan-container">
				        <div class="plan stacked">
					        <div class="plan-header">
				                
					        	<div class="plan-title">
					        		<liquidtpl:plan4_name/>	 
				        		</div> <!-- /plan-title -->
				                
					            <div class="plan-price">
				                	<span class="note">￥</span><liquidtpl:plan4_price/><span class="term">月額</span>
								</div> <!-- /plan-price -->
								
					        </div> <!-- /plan-header -->	       
					        
					        <div class="plan-features">
								<ul>
									<li><strong><liquidtpl:plan4_maxCheck/></strong> ページ監視</li>
									<li><strong><liquidtpl:plan4_maxCheckLogin/></strong> ログイン監視</li>
								</ul>
							</div> <!-- /plan-features -->
							
							<div class="plan-actions">				
								<a href="/user/inquiry" class="btn">お申し込み</a>							
							</div> <!-- /plan-actions -->
				
						</div> <!-- /plan -->
						
				    </div> <!-- /plan-container -->
			
			
				</div> <!-- /pricing-plans -->
				
				<div class="clear"></div>
				
				<br />
				<br />
					
				</div> <!-- /widget-content -->
					
			</div> <!-- /widget -->					
			
	    </div> <!-- /span12 -->     	