<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
<script type="text/javascript">
    //<![CDATA[
    $(function(){
    	if(typeof $('#pageType').val() != null && $('#pageType').val() == "page"){
			$("#page_icon").css("display","");
			$("#login_icon").css("display","none");
    	}else{
			$("#page_icon").css("display","none");
			$("#login_icon").css("display","");
    	}
        $.initList( "checkList", "checkItem", true, "/cert/json", {}, function(jsonData) {
            $.setListValues("checkList", "checkItem", false, jsonData, function() {
            },
            function(){
            	$('#checkListContainer').show();
            });

			$("#error-message").click(function(e){
			    var $this = $(this);
				var	checkId = $this.data("checkId");
			    var $tr = $("#checkItem-error-message-tr-" + checkId);
			    $tr.toggle();
			});
        });
    });

    $.formLink = function(){
    	if(typeof $('#pageType').val() != null && $('#pageType').val() == "cert"){
	    	location.href='/cert/form';
    	}else{
    		location.href='/cert/loginForm';
    	}
    }

    //]]>
</script>
<liquidtpl:pageType />
<div class="span12">
	<div id="buttonWrapper" style='margin-bottom: 10px;'>
		<button onclick="$.formLink();" class="btn btn-primary btn-large">
			<liquidtpl:pageTypeString />
			監視登録
		</button>
	</div>
	<div id="checkListContainer" class="widget widget-table hide">
		<div class="widget-header">
			<i class="icon-lock"></i>
			<h3>
				<liquidtpl:pageTypeString />
				監視
			</h3>
		</div>
		<!-- /widget-header -->
		<div class="widget-content">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>タイトル</th>
						<th>ドメイン名</th>
						<th>有効・無効</th>
						<th>残り日数</th>
						<th>有効期限</th>
						<th>編集</th>
					</tr>
				</thead>
				<tbody id="checkList">
				</tbody>
			</table>
		</div>
		<!-- /widget-content -->
	</div>
	<!-- /widget -->
</div>
<!-- /row -->
<script id="checkItem" type="text/x-jquery-tmpl">
    <tr>
		<td>${name}</td>
        <td>${domainName}</td>
		<td>{{if active=='true'}}<span class="label label-success"><liquidtpl:text key="check.isActive"/></span>{{else}}<span class="label"><liquidtpl:text key="check.isInactive"/></span>{{/if}}</td>
        <td>${period}日</td>
        <td>${limitDate}</td>
		<td class="action-td">
			<a class="btn btn-small btn-warning" href="/cert/form?id=${id}"><i title="Edit" class="icon-pencil"></i></a>
			<a class="btn btn-small" onclick="return confirm('${domainName}の監視を削除してもよろしいですか?');" href="/cert/delete?id=${id}">
				<i title="Remove" class="icon-remove"></i>
			</a>
		</td>
    </tr>
    <tr id="checkItem-error-message-tr-${id}" class="selectable error-message-tr" style="display:none;">
        <td colspan="5">
            <textarea id='checkItem-error-message-${id}' class="span8" rows="10" readonly="readonly">{{html errorMessage}}</textarea>
        </td>
    </tr>
</script>