<div class="span9">
	<h1 class="page-title">
		<i class="icon-th-large"></i>Web監視登録
	</h1>
	<div class="row">
		<div class="span9">
			<div class="widget">
				<!-- /widget-header -->
				<div class="widget-content">
					<form action="/check/form" id="checkForm" style="display: none;" class="form-horizontal">
						<fieldset>
							<div class="control-group">
								<label class="control-label"><liquidtpl:text key="check.name"/> <strong class="fcRed">(*)</strong></label>
								<div class="controls">
            						<input type="text" id="nameField" name="name" class="input-xlarge" />
            						<div id="nameError" class="alert alert-danger" style="margin-top:5px; display:none;" />
								</div>
								<!-- /controls -->
							</div>
							<div class="control-group">
								<label class="control-label"><liquidtpl:text key="check.url"/> <strong class="fcRed">(*)</strong></label>
								<div class="controls">
            						<input type="url" id="urlField" name="url" class="input-xlarge" />
            						<div id="urlError" class="alert alert-danger" style="margin-top:5px; display:none;" />
								</div>
								<!-- /controls -->
							</div>
							<div class="control-group">
								<label class="control-label"><liquidtpl:text key="check.formParams"/></label>
								<div class="controls">
            						<textarea id="formParamsField" name="formParams" class="input-xlarge" ></textarea>
            						<div id="formParamsError" class="alert alert-danger" style="margin-top:5px; display:none;" />
            						<p class="help-block"><liquidtpl:text key="check.formParamsMessage"/></p>
								</div>
								<!-- /controls -->
							</div>
							<div class="control-group">
								<label class="control-label"><liquidtpl:text key="check.preloadUrl"/></label>
								<div class="controls">
            						<input type="text" id="preloadUrlField" name="preloadUrl" class="input-xlarge" />
            						<div id="preloadUrlError" class="alert alert-danger" style="margin-top:5px; display:none;" />
            						<p class="help-block"><liquidtpl:text key="check.preloadUrlMessage"/></p>
								</div>
								<!-- /controls -->
							</div>
							<div class="control-group">
								<label class="control-label"><liquidtpl:text key="check.assertText"/></label>
								<div class="controls">
            						<input type="text" id="assertTextField" name="assertText" class="input-xlarge" />
            						<div id="assertTextError" class="alert alert-danger" style="margin-top:5px; display:none;" />
            						<p class="help-block"><liquidtpl:text key="check.assertTextMessage"/></p>
								</div>
								<!-- /controls -->
							</div>
							<div class="control-group">
								<label class="control-label"><liquidtpl:text key="check.xPath"/></label>
								<div class="controls">
            						<input type="text" id="xPathField" name="xPath" class="input-xlarge" />
            						<div id="assertTextError" class="alert alert-danger" style="margin-top:5px; display:none;" />
            						<p class="help-block"><liquidtpl:text key="check.xPathMessage"/></p>
								</div>
								<!-- /controls -->
							</div>
							<div class="control-group">
								<label class="control-label"><liquidtpl:text key="check.recipients"/></label>
								<div class="controls">
            						<textarea id="recipientsField" name="recipients" class="input-xlarge" rows="5"></textarea>
            						<div id="recipientsError" class="alert alert-danger" style="margin-top:5px; display:none;" />
            						<p class="help-block"><liquidtpl:text key="check.recipientsMessage"/></p>
								</div>
								<!-- /controls -->
							</div>
							<div class="control-group">
								<label class="control-label"><liquidtpl:text key="check.failThreshold"/></label>
								<div class="controls">
						            <div>
						              <input type="number" min="1" id="failThresholdField" name="failThreshold" size="3" class="input-small" />
						              <liquidtpl:text key="check.failThresholdSuffix"/>
						            </div>
						            <div id="failThresholdError" class="alert alert-danger" style="margin-top:5px; display:none;" />
					            </div>
								<!-- /controls -->
							</div>				  
        					<hr/>
        					<div class="control-group">
								<label class="control-label"><liquidtpl:text key="check.description"/></label>
								<div class="controls">
            						<textarea id="descriptionField" name="description" class="span6" rows="5"></textarea>
            						<div id="descriptionError" class="alert alert-danger" style="margin-top:5px; display:none;" />
								</div>
								<!-- /controls -->
							</div>
							<div class="control-group">
								<label class="control-label"><liquidtpl:text key="check.active"/><strong class="fcRed">(*)</strong></label>
								<div class="controls">
						            <div>
						            	<label class="radio" for="activeField1"><input type="radio" id="activeField1" name="active" value="true" checked="checked" /><liquidtpl:text key="check.isActive"/></label>
						            	<label class="radio" for="activeField2"><input type="radio" id="activeField2" name="active" value="false" /><liquidtpl:text key="check.isInactive"/></label>
						            </div>
						            <div id="activeError" class="alert alert-danger" style="margin-top:5px; display:none;" />
								</div>
								<!-- /controls -->
							</div>
							<!-- /control-group -->
							<div class="form-actions">
								<button type="submit" class="btn btn-warning btn-large">登録</button>
							</div>
						</fieldset>						
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /widget-content -->
</div>
<!-- /widget -->
<script type="text/javascript">
        //<![CDATA[

        $(function(){
            $.checkForm = {};
            $.initForm("checkForm", "/check/json", null, function(jsonData){
                var values = jsonData.values;
                $.setFormValues( "checkForm", jsonData );
                //recipients
                var recipients = values.recipients;
                if(recipients != null){
                    var recipientsSize = recipients.length;
                    var recipientsValue = "";
                    for(var i = 0; i < recipientsSize; i++){
                        recipientsValue += recipients[i] + "\n";
                    }
                    $("#recipientsField").val(recipientsValue);
                }
            });
        });
        //]]>
</script>
