<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
<script type="text/javascript">
    //<![CDATA[
    $(function(){
        $.initList( "checkList", "checkItem", true, "/check/json", {"pageType":$('#pageType').val()}, function(jsonData){
            var values = jsonData.values;
            var size = values.length;
            for(var i = 0; i < size; i++){
                var text = values[i].errorMessage;
                text = text.replace(/\r\n/g, "<br />");
                text = text.replace(/(\n|\r)/g, "<br />");
                values[i].errorMessageWrap = text;
            }
            $.setListValues("checkList", "checkItem", false, jsonData, function(){
            },
            function(){
            	$('#checkListContainer').show();
            });
            
			$("#error-message").click(function(e){
			    var $this=$(this);
				var	checkId=$this.data("checkId");
			    var $tr=$("#checkItem-error-message-tr-" + checkId);
			    $tr.toggle();
			});
        });
    });
    
    $.formLink = function(){
    	if(typeof $('#pageType').val() != null && $('#pageType').val() == "page"){
	    	location.href='/check/form';
    	}else{
    		location.href='/check/loginForm';
    	}
    }
    
    //]]>
</script>
<liquidtpl:pageType/>
<div class="span12">
	<div id="buttonWrapper" style='margin-bottom: 10px;'>
		<button onclick="$.formLink();" class="btn btn-primary btn-large"><liquidtpl:pageTypeString/>監視登録</button>											
	</div>
	<div id="checkListContainer" class="widget widget-table hide">
		<div class="widget-header">
			<i class="icon-th-list"></i>
			<h3><liquidtpl:pageTypeString/>監視</h3>
		</div> <!-- /widget-header -->
		<div class="widget-content">
			<table  class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>タイトル</th>
						<th>URL</th>
						<th>有効・無効</th>
						<th>ステータス</th>
						<th>編集</th>
					</tr>
				</thead>
				<tbody id="checkList">
				</tbody>
			</table>
		</div> <!-- /widget-content -->
	</div> <!-- /widget -->
</div> <!-- /row -->
<script id="checkItem" type="text/x-jquery-tmpl">
    <tr>
        <td><a href="javascript:void(0)" onclick="$('#checkItem-error-message-tr-${id}').toggle();" id="error-message">${name}</a></td>
        <td><a href="${url}" target="_blank">${url}</a></td>
        <td>{{if active=='true'}}<span class="label label-success"><liquidtpl:text key="check.isActive"/></span>{{else}}<span class="label"><liquidtpl:text key="check.isInactive"/></span>{{/if}}</td>
        <td>{{html statusHtml}} </td>
        <td class="action-td"><a href="/check/form?id=${id}" class="btn btn-small btn-warning"><i class="icon-pencil" title="Edit"></i></a>
        <a href="/check/delete?id=${id}" onclick="return confirm('${deleteConfirm}');" class="btn btn-small"><i class="icon-remove" title="Remove"></i></a></td>
    </tr>
    <tr id="checkItem-error-message-tr-${id}" class="selectable error-message-tr" style="display:none;">
        <td colspan="5">
            <textarea id='checkItem-error-message-${id}' class="span8" rows="10" readonly="readonly">{{html errorMessage}}</textarea>
            {{if checkedAt}}<div><liquidtpl:text key="check.LastCheckedAt"/>: ${checkedAt}</div>{{/if}}
        </td>
    </tr>
</script>